body
{
    font-family: 'Raleway', sans-serif;
    background: pink;
}

.header_div
{
    background: white;
    color: royalblue;
}

.header_div p{
    font-family: 'Dela Gothic One', cursive;
    color: darkolivegreen;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Fredoka One', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
position: fixed;
color: lightsteelblue;
bottom: 0;
width: 100%;
font-size: 18px;
background-color: whitesmoke;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px lightslategray(151, 149, 149);
}

